@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

#content {
    display: flex;
    height: 100vh;
    color: white;
    background-image: url(https://cdn.mos.cms.futurecdn.net/xcLR5HMU2kxskdAy3ZVuTf.jpg);
    background-position: 25%, 15% ;
    background-size: cover;
    flex-direction: column;
    font-family: 'Noto Sans Display', sans-serif;
}

.searchbox {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    margin-top: 3%;
    margin-right: 5%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
}

#searchBtn img, #cancelBtn img {
    height: 15px;
    width: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 10%;
}

.location {
    font-size: 1.5rem;
}

.degreesContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.degrees {
    font-size: 4rem;
    font-weight: 900;
}

.degreeDetails {
    border-left: 0.2rem solid #a2d2ff ;
    padding-left: 2rem;
}

.extraDetails {
    display: flex;
    gap: 30px;
}

.searchbox input, #cancelBtn {
    display: none;
}

.searchbox.active input, .searchbox.active #cancelBtn {
    display: block;
}

.searchbox input {
    background:#ffffff;
    font-size:18px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55 );
    border: none;
}

.searchbox button {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    border: none;
    
    padding: 8px;
}

@media (max-width: 770px) {
    #content {
        height: 100vh;
    }
}